@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.header {
    background-color: black;
    align-items: center;
    color:white;
    display:flex;
    top:0;          /*  Header Section scroll agadhu */
    position: sticky;    /* sticky na andha top position 0 la yea ottikitu irrukum*/
    z-index: 2000;     /*  oru element ku mela oru element varnanum na idha use pannikalam*/
}

.header__left {
    flex:0.4;    /* ennoda entire flex display la vandhu 40% space nee eduthukoo nu sodren*/
}

.header__left > h1 {
    text-align: center;
    font-family: "Alata",sans-serif;
    letter-spacing: 1px;
    padding: 20px 0;
}

.header__left > h1 > span {
    color:#f64c08;
}

.header__right {
    display: flex;
    flex:0.6;   /*  meedhamulla 60% display va nee eduthukoo...*/
    justify-content: space-evenly;
    align-items: center;
}

.header__right > a > h4 {
    font-size:18px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    font-family: "Crimson Text",serif;
    padding:20px 0;
    letter-spacing: 1px;
}

.header__right > a > h4:hover {
    transform: scale(1.09);
    background-color: #f64c08;
    color:white;
    border-radius: 2px;
    letter-spacing: 1px;
    font-family: "Crimson Text",serif;
    font-size: 18px;
    cursor: pointer;
    padding:5px 20px;
}

.header__rightButton {
    background-color: #f64c08;
    color:white;
    padding:5px 20px;
    border-radius: 2px;
    cursor: pointer;
}